@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v27-cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v27-cyrillic-500.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v27-cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v27-cyrillic-700.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.wrapper {
  max-width: 1310px;
  min-width: 375px;
  padding: 0 15px;
  margin: 0 auto;
}

.photo {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', 'Tahoma', sans-serif;
  margin: 0;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .wrapper-no {
    padding: 0;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.header__menu li {
  list-style: none;
  padding-right: 36px;
}

.header__menu a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #525252;
}

.header__menu a:hover {
  color: #5C0790;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: color;
  transition-property: color;
}

.header__menu a:active {
  color: rgba(92, 7, 144, 0.7);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: color;
  transition-property: color;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone a {
  font-size: 16px;
  line-height: 19px;
  color: #525252;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone a:not(:first-child) {
  margin-left: 32px;
}

.header__phone a:hover {
  color: #5C0790;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: color;
  transition-property: color;
}

.header__phone a:active {
  color: rgba(92, 7, 144, 0.7);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: color;
  transition-property: color;
}

.header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__cart:hover path {
  fill: #5C0790;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.header__cart:active path {
  fill: rgba(92, 7, 144, 0.7);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.header__cart p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.header__cart svg {
  margin: 0 4px 0 10px;
}

.header__counter {
  padding: 2px 4px;
  background: #FF3A3A;
  border-radius: 64px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: 991px) {
  .header__logo {
    margin-right: 20px;
  }
  .header__phone a:not(:first-child) {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .header {
    padding-bottom: 16px;
  }
  .header__logo {
    margin: 0;
  }
  .header__menu {
    display: none;
  }
  .header__phone a:not(:first-child) {
    margin-left: 12px;
  }
  .header__cart p {
    display: none;
  }
}

.main-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.main-menu__list {
  list-style: none;
  padding: 20px 26px 33px 0;
  position: relative;
}

.main-menu__list > a {
  font-size: 18px;
  line-height: 140%;
  color: #525252;
  margin-right: 24px;
}

.main-menu__list > a::after {
  content: "";
  background-image: url("../img/down_arrow.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.main-menu__list:hover a::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.main-menu__list:hover > a {
  color: #5C0790;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: color;
  transition-property: color;
}

.main-menu__list:hover .main-menu__sub {
  display: block;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: display;
  transition-property: display;
}

.main-menu__sub {
  -webkit-box-shadow: 0px 14px 32px rgba(0, 0, 0, 0.11), inset 0px 0px 1px #C5C5C5;
          box-shadow: 0px 14px 32px rgba(0, 0, 0, 0.11), inset 0px 0px 1px #C5C5C5;
  border-radius: 8px;
  background: #FFFFFF;
  padding: 16px 0 0 16px;
  width: 168px;
  height: 167px;
  position: absolute;
  z-index: 2;
  top: 65px;
  display: none;
}

.main-menu__sub li {
  list-style: none;
  padding-bottom: 8px;
}

.main-menu__sub a {
  font-size: 16px;
  line-height: 19px;
  color: #858585;
}

.main-menu__sub a:hover {
  color: #525252;
  text-decoration: underline;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: color, -webkit-text-decoration;
  transition-property: color, -webkit-text-decoration;
  transition-property: color, text-decoration;
  transition-property: color, text-decoration, -webkit-text-decoration;
}

@media (max-width: 767px) {
  .main-menu {
    display: none;
  }
}

.slider {
  margin-bottom: 52px;
  position: relative;
}

.slider__slide {
  background: #FFCD4E;
  border-radius: 16px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px 22px 38px;
}

.slider__text {
  width: 39%;
  padding-top: 31px;
  padding-left: 22px;
}

.slider__text h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  margin: 0;
  padding-bottom: 11px;
}

.slider__text p {
  font-size: 18px;
  line-height: 140%;
  margin: 0;
  padding-bottom: 30px;
}

.slider__img {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 27px;
}

@media (max-width: 767px) {
  .slider {
    margin-bottom: 48px;
  }
  .slider__slide {
    padding: 25px 25px 65px;
    border-radius: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0;
  }
  .slider__text h2 {
    text-align: center;
    font-size: 32px;
    line-height: 37px;
  }
  .slider__text p {
    padding-bottom: 32px;
  }
  .slider__text a {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .slider__img {
    padding: 0 0 7px 0;
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.button {
  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #FF3A3A;
  display: inline-block;
  padding: 16px 30px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 8px 26px rgba(255, 58, 58, 0.44);
          box-shadow: 0px 8px 26px rgba(255, 58, 58, 0.44);
  cursor: pointer;
}

.button:hover {
  background: rgba(255, 58, 58, 0.7);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.button:active {
  background: rgba(255, 58, 58, 0.3);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.arrow {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("../img/arrow_left.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.arrow.arrow__hover {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.arrow.arrow__hover:hover {
  background-color: #FFFFFF;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.arrow.arrow__slider-left {
  left: 22px;
}

.arrow.arrow__slider-right {
  right: 22px;
  -webkit-transform: translateY(-50%) scale(-1);
          transform: translateY(-50%) scale(-1);
}

.arrow.arrow__review-left {
  left: 21.5px;
}

.arrow.arrow__review-right {
  right: 21.5px;
  -webkit-transform: translateY(-50%) scale(-1);
          transform: translateY(-50%) scale(-1);
}

.arrow__paginator-left {
  margin-right: 8px;
}

.arrow__paginator-right {
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.arrow__paginator-left:hover, .arrow__paginator-right:hover {
  background-color: rgba(201, 201, 201, 0.5);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

@media (max-width: 767px) {
  .arrow.arrow__slider-left {
    left: 17px;
  }
  .arrow.arrow__slider-right {
    right: 14px;
  }
  .arrow.arrow__review-left, .arrow.arrow__review-right {
    top: 87%;
  }
  .arrow.arrow__review-left {
    left: 13px;
  }
  .arrow.arrow__review-right {
    right: 17px;
  }
}

.btn-slider {
  width: 33px;
  height: 12px;
  position: absolute;
  bottom: 24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-slider__button {
  padding: 4px;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  background: transparent;
  border-radius: 50%;
}

.btn-slider__button.btn-slider__button-active {
  background: #FFFFFF;
}

.heading {
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #ADADAD;
  padding-bottom: 30px;
  margin: 0;
}

@media (max-width: 767px) {
  .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 24px;
  }
  .heading.heading-mob {
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 30px;
  }
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.product__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 76.75%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 19px;
}

.product__list-w25 {
  width: 25%;
  padding: 0 15px 48px 15px;
}

.product__list-w33 {
  width: 33.333%;
  padding-bottom: 20.5px;
  padding-left: 30px;
}

.product__list-w33:nth-child(n+7) {
  display: none;
}

.product__item {
  position: relative;
  background: radial-gradient(171.8% 132.02% at 50% -32.02%, #B3F1FF 0%, #D8FFEA 100%);
  border-radius: 16px;
  padding: 15px;
}

.product__item:hover {
  -webkit-filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.12));
          filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.12));
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
}

.product__item-img {
  background: #FFFFFF;
  border-radius: 8px;
  height: 268px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__item-name {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
  font-size: 16px;
  line-height: 19px;
  color: #525252;
}

.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 20px 0;
}

.product__price-old {
  font-size: 18px;
  line-height: 140%;
  color: #525252;
  margin: 0;
  position: relative;
  word-spacing: 4px;
}

.product__price-old::after {
  content: "";
  border-top: 1px solid #525252;
  position: absolute;
  width: 80px;
  top: 9px;
  left: 0;
}

.product__price-new {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding-right: 15px;
}

@media (max-width: 1257px) and (min-width: 1187px) {
  .product__item-name {
    font-size: 15px;
  }
}

@media (max-width: 1186px) and (min-width: 1120px) {
  .product__item-name {
    font-size: 14px;
  }
}

@media (max-width: 1119px) and (min-width: 1044px) {
  .product__item-name {
    font-size: 13px;
  }
}

@media (max-width: 1043px) and (min-width: 992px) {
  .product__item-name {
    font-size: 12px;
  }
}

@media (max-width: 1079px) and (min-width: 991px) {
  .product__price-new {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .product__list-w25 {
    width: 50%;
  }
  .product__list-w33 {
    padding: 0 15px 16px 15px;
    width: 50%;
    max-width: 480px;
  }
}

@media (max-width: 767px) {
  .product {
    padding-bottom: 34px;
    margin: 0 8px;
  }
  .product__catalog {
    width: 100%;
  }
  .product__list-w25 {
    padding: 0 15px 16px 15px;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }
  .product__list-new {
    padding: 0 15px 12px 15px;
  }
  .product__list-w33 {
    padding: 0 25px 17px 21px;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }
  .product__list-w33:nth-child(n+7) {
    display: block;
  }
  .product__list-w33:nth-child(n+9) {
    display: none;
  }
}

.add-to-cart {
  padding: 12px 13px;
  background: #FFFFFF;
  border: 2px solid #FFCD4E;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #525252;
  margin-bottom: 6px;
}

.add-to-cart:hover {
  background: #FFCD4E;
  -webkit-box-shadow: 0px 4px 16px rgba(255, 205, 78, 0.39);
          box-shadow: 0px 4px 16px rgba(255, 205, 78, 0.39);
  color: #000000;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
}

@media (max-width: 1079px) and (min-width: 991px) {
  .add-to-cart {
    letter-spacing: normal;
  }
}

.icon__sale {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 9px 16px;
  background: #FF3A3A;
  border-radius: 10px;
  position: absolute;
  top: 8px;
  left: 8px;
  margin: 0;
}

.icon__new {
  font-size: 14px;
  line-height: 16px;
  color: #5C0790;
  display: inline-block;
  padding: 9px 16px;
  background: #FFCD4E;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: absolute;
  top: 8px;
  left: 8px;
  margin: 0;
}

.new-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1px 0 35px 0;
  padding: 6px 7px;
  border-radius: 29px;
  background: #FBFBFB;
}

.new-menu__scroll {
  width: 100%;
  overflow: auto;
}

.new-menu__element {
  list-style: none;
}

.new-menu__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #525252;
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px 20px;
}

.new-menu__button-active, .new-menu__button:hover {
  color: #FFFFFF;
  padding: 10px 20px;
  background: radial-gradient(122% 93.75% at 18.75% 6.25%, #4E5CDA 0%, #6E42B7 100%);
  border-radius: 32px;
}

@media (max-width: 767px) {
  .new-menu {
    margin: 6px 0 37px 2px;
  }
}

.reviews {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F4F4F4;
  border-radius: 16px;
  padding: 79px 68.5px 79px 68.5px;
}

.reviews__list {
  padding: 0 12.5px;
  width: 50%;
}

.reviews__personal {
  padding: 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}

.reviews__photo {
  margin-right: 30px;
  border-radius: 10px;
  max-width: 100%;
  min-width: 69px;
  height: auto;
}

.reviews__text {
  font-size: 18px;
  line-height: 140%;
  color: #858585;
  margin: 0;
  width: 65%;
  max-width: 269px;
}

@media (max-width: 991px) {
  .reviews__list {
    width: 100%;
  }
  .reviews__list-none {
    display: none;
  }
  .reviews__text {
    max-width: none;
  }
}

@media (max-width: 767px) {
  .reviews {
    margin-top: 3px;
    border-radius: 0;
    padding: 30px 15px 95px 15px;
  }
  .reviews-top {
    margin-top: 67px;
  }
  .reviews__list {
    padding: 0;
  }
  .reviews__photo {
    border-radius: 4px;
    margin-right: 16px;
    width: 69px;
    height: auto;
  }
  .reviews__text {
    width: 72%;
  }
}

.map {
  padding-top: 100px;
}

.map__frame {
  border: 0;
  width: 100%;
  height: 500px;
}

.map__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0 34px 0;
}

.map__address {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #525252;
  padding-right: 20px;
  padding-left: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.map__address::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  background-image: url("../img/location.svg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 6px;
}

.map__location {
  font-size: 18px;
  line-height: 140%;
  color: #525252;
  margin: 0;
}

@media (max-width: 767px) {
  .map {
    padding: 0;
  }
  .map__list {
    display: block;
  }
  .map__location {
    padding-top: 18px;
    width: 73%;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0 22px;
  border-top: 1px solid #F4F4F4;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 60px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer__menu li {
  list-style: none;
}

.footer__menu li:not(:last-child) {
  padding-right: 36px;
}

.footer__menu a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #525252;
}

.footer__menu a:hover {
  color: #5C0790;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: color;
  transition-property: color;
}

.footer__menu a:active {
  color: rgba(92, 7, 144, 0.7);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: color;
  transition-property: color;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3px;
  padding-top: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials a:not(:last-child) {
  margin-right: 32px;
}

.footer__socials-instagram:hover path {
  fill: #FF0100;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.footer__socials-fecebook :hover path[fill="#858585"] {
  fill: #1877F2;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.footer__socials-telegram :hover path[fill="#858585"] {
  fill: #37AEE2;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.footer__copyright {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #ADADAD;
  margin: 0;
  padding-bottom: 22px;
}

@media (max-width: 767px) {
  .footer {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__list {
    margin-top: 64px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    margin: 50px 0 0 0;
  }
  .footer__menu {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .footer__socials {
    margin-top: 52px;
  }
  .footer__copyright {
    padding-top: 51px;
  }
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 3.5px 0 34px 0;
}

.breadcrumbs li {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  color: #525252;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs li:not(:first-child)::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  background-image: url("../img/arrow_right.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrumbs a {
  font-size: 16px;
  line-height: 19px;
  color: #ADADAD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 11px;
}

.breadcrumbs a:hover, .breadcrumbs li:hover {
  color: #525252;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: color;
  transition-property: color;
}

@media (max-width: 767px) {
  .breadcrumbs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__filter {
  display: none;
  position: relative;
  font-family: 'Roboto', 'Tahoma', sans-serif;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #525252;
  padding-left: 36px;
  margin-left: 26px;
  margin-bottom: 9px;
  background: transparent;
}

.catalog__filter::before {
  content: "";
  background: url("../img/filter.svg");
  background-position: center center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -3px;
  left: 0;
}

.filter {
  width: 23.25%;
}

.filter h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #525252;
  padding: 20px 0;
  margin: 0;
}

.filter__price {
  padding-top: 29px;
}

.filter__price-line {
  position: relative;
  width: 100%;
  height: 4px;
  background: #F4F4F4;
  border-radius: 15px;
}

.filter__price-button {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #858585;
  border: none;
  top: -10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.filter__price-button:hover {
  background: #525252;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.filter__price-button:active {
  background: #C9C9C9;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.filter__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 27px;
}

.filter__input span {
  width: 9px;
  border-top: 1px solid #ADADAD;
}

.filter__input-price {
  font-size: 16px;
  line-height: 19px;
  color: #858585;
  outline: none;
  width: 100px;
  height: 51px;
  border: 2px solid transparent;
  border-radius: 12px;
  background: #F4F4F4;
  padding: 0 14px;
}

.filter__input-price:focus {
  background: var(--white);
  border-color: var(--black-transparency);
}

.filter__input-price::-webkit-outer-spin-button,
.filter__input-price::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.filter__input-price {
  -moz-appearance: textfield;
}

@media (max-width: 767px) {
  .catalog {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .catalog__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .filter {
    display: none;
  }
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  padding-top: 16px;
}

.checkbox__text {
  font-size: 16px;
  line-height: 19px;
  color: #858585;
  position: relative;
  padding-left: 28px;
  min-height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.checkbox__text::before {
  content: "";
  width: 28px;
  height: 28px;
  border: 2px solid #525252;
  border-radius: 8px;
  background: #FFFFFF;
  position: absolute;
  left: -15px;
  top: 3px;
}

.checkbox__text::after {
  display: none;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 12px;
  left: -7px;
}

.checkbox__category:checked + .checkbox__text::after {
  display: block;
}

.checkbox__category:enabled + .checkbox__text:hover {
  color: #525252;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: color;
  transition-property: color;
}

.checkbox__category:enabled + .checkbox__text:hover::before {
  background-color: #F4F4F4;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.checkbox__category:disabled + .checkbox__text {
  opacity: 0.3;
  cursor: not-allowed;
}

.checkbox__category:focus + .checkbox__text::before {
  outline: 2px solid #000000;
}

.button-to-apply {
  cursor: pointer;
  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #525252;
  padding: 8px 20px;
  background: #FFCD4E;
  border: none;
  border-radius: 8px;
  margin-top: 6px;
}

.button-to-apply:hover {
  background: rgba(255, 205, 78, 0.7);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.button-to-apply:active {
  background: rgba(255, 205, 78, 0.3);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 26.5px 0 97px 29px;
}

.paginator__item, .paginator__span {
  width: 32px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #525252;
  background: transparent;
  border: 1px solid #DFE3E8;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.paginator__span {
  cursor: default;
}

.paginator__item:hover, .paginator__item-active:hover {
  color: #5C0790;
  border-color: #5C0790;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: color, border;
  transition-property: color, border;
}

@media (max-width: 767px) {
  .paginator {
    padding: 26.5px 0 50px 0;
  }
}

.back {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #525252;
  padding-top: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/back-icon.svg");
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.back:hover {
  color: #5C0790;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: color;
  transition-property: color;
}

.form {
  padding-bottom: 74px;
}

.form__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 27.5px;
}

.form__radio {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 4px;
}

.form__radio fieldset {
  padding-bottom: 22px;
}

.form__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  padding: 3px 0 0 0;
  margin: 0;
}

.form__list legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #525252;
}

.form__list-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #858585;
  margin: 0;
  padding-bottom: 16px;
}

.form__list-payment {
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #525252;
  margin: 0;
  padding-bottom: 33px;
}

.form__input {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 15px;
}

@media (max-width: 991px) {
  .form__page {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form__radio {
    padding: 0;
    width: 100%;
  }
  .form__input {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .form {
    padding-bottom: 94px;
  }
  .form__page {
    padding-top: 36.5px;
  }
}

.radio legend {
  padding: 1px 0 13px 0;
}

.radio__text {
  position: relative;
  font-size: 16px;
  line-height: 19px;
  color: #858585;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-bottom: 6px;
  cursor: pointer;
  padding-left: 42px;
  min-height: 38px;
}

.radio__text::before {
  content: "";
  width: 28px;
  height: 28px;
  border: 2px solid #525252;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #FFFFFF;
}

.radio__text::after {
  display: none;
  content: "";
  width: 14px;
  height: 14px;
  background: #5C0790;
  border-radius: 50%;
  position: absolute;
  left: 9px;
  top: 9px;
}

.radio__default:checked + .radio__text::after {
  display: block;
}

.radio__default:enabled + .radio__text:hover {
  color: #525252;
}

.radio__default:enabled + .radio__text:hover::before {
  background: #F4F4F4;
}

.radio__default:disabled + .radio__text {
  opacity: 0.3;
  cursor: not-allowed;
}

.radio__default:focus + .radio__text::before {
  outline: 2px solid #000000;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.input__data {
  display: block;
  width: 50%;
  padding: 0 15px 23px 15px;
}

.input__data legend {
  padding-bottom: 22.5px;
}

.input__item {
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  color: #ADADAD;
  background: #F4F4F4;
  margin-bottom: 13px;
  border-radius: 12px;
  border: 2px solid transparent;
  padding: 13px;
}

.input__item:hover {
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: border-color;
  transition-property: border-color;
}

.input__item:focus {
  outline: none;
  background: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.2);
}

.input__comment {
  font-family: 'Roboto', 'Tahoma', sans-serif;
  width: 100%;
  height: 117px;
  background: #F4F4F4;
  border-radius: 12px;
  font-size: 16px;
  line-height: 19px;
  color: #ADADAD;
  border: 2px solid transparent;
  resize: none;
  padding: 15px 13px;
}

.input__comment:hover {
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: fill;
  transition-property: fill;
}

.input__comment:focus {
  outline: none;
  background: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.2);
}

.input__item::-webkit-outer-spin-button,
.input__item::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input__item {
  -moz-appearance: textfield;
}

@media (max-width: 767px) {
  .input {
    padding-top: 46px;
  }
  .input__data {
    padding: 0 15px 14px 15px;
    width: 100%;
  }
}

.send {
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 6px 0 0;
}

.send-button {
  padding: 16px 37.5px;
  border: none;
}

@media (max-width: 767px) {
  .send {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 28px 0 0 0;
  }
  .send-button {
    width: 100%;
  }
}

.mob-menu {
  display: none;
  margin: 0 auto;
  font-size: 18px;
  line-height: 140%;
  width: 100%;
}

.mob-menu button {
  font-family: 'Roboto', 'Tahoma', sans-serif;
  cursor: pointer;
  position: relative;
  margin: 14.5px 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 110%;
  color: #858585;
  padding-right: 135px;
  border: none;
  background: transparent;
}

.mob-menu button:hover {
  color: #5C0790;
}

.mob-menu button::after {
  position: absolute;
  content: "";
  background: url("../img/arrow_right.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 24px;
  height: 24px;
  display: inline-block;
  top: -3px;
  right: 0;
}

.mob-menu__list {
  display: none;
  position: relative;
  z-index: 2;
  margin: 0;
  list-style: none;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 26px 26px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 26px 26px rgba(0, 0, 0, 0.2);
}

.mob-menu__item {
  padding: 10px;
}

.mob-menu__item a {
  color: #858585;
}

.mob-menu__item a:hover {
  color: #5C0790;
}

@media (max-width: 767px) {
  .mob-menu {
    display: block;
  }
}

.burger-menu {
  display: none;
  background: url("../img/burger.svg");
  background-position: center center;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: 14px;
}

@media (max-width: 767px) {
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
