$red-instagram: #FF0100;
$blue-fecebook: #1877F2;
$blue-telegram: #37AEE2;
$primary-red: #FF3A3A;
$primary-red-transparency-1: rgba(255, 58, 58, 0.7);
$primary-red-transparency-2: rgba(255, 58, 58, 0.3);
$primary-yellow: #FFCD4E;
$primary-yellow-transparency-1: rgba(255, 205, 78, 0.7);
$primary-yellow-transparency-2: rgba(255, 205, 78, 0.3);
$gradient-purple-dark: radial-gradient(122% 93.75% at 18.75% 6.25%, #4E5CDA 0%, #6E42B7 100%);
$primary-purple: #5C0790;
$primary-purple-transparency-1: rgba(92, 7, 144, 0.7);
$gradient-light-birch: radial-gradient(171.8% 132.02% at 50% -32.02%, #B3F1FF 0%, #D8FFEA 100%);
$black: #000000;
$black-transparency: rgba(0, 0, 0, 0.2);
$grey-1:#525252;
$grey-2: #858585;
$grey-3: #ADADAD;
$grey-4: #C9C9C9;
$grey-4-transparency: rgba(201, 201, 201, 0.5);
$grey-5: #F4F4F4;
$gray-6: #FBFBFB;
$white: #FFFFFF;
$white-transparency:rgba(255, 255, 255, 0.5);
